<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-personal-details-heading">Create or edit a Personal Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!personalDetails.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="personalDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_homeAddress">Home Address</label>
                    <input type="text" class="form-control" name="homeAddress" id="field_homeAddress"
                        [(ngModel)]="personalDetails.homeAddress" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ppsn">Ppsn</label>
                    <input type="text" class="form-control" name="ppsn" id="field_ppsn"
                        [(ngModel)]="personalDetails.ppsn" minlength="7" maxlength="9"/>
                    <div [hidden]="!(editForm.controls.ppsn?.dirty && editForm.controls.ppsn?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ppsn?.errors?.minlength">
                        This field is required to be at least 7 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ppsn?.errors?.maxlength">
                        This field cannot be longer than 9 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_martialStatus">Martial Status</label>
                    <select class="form-control" name="martialStatus" [(ngModel)]="personalDetails.martialStatus" id="field_martialStatus"  required>
                        <option value="SINGLE">SINGLE</option>
                        <option value="MARRIED">MARRIED</option>
                    </select>
                    <div [hidden]="!(editForm.controls.martialStatus?.dirty && editForm.controls.martialStatus?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.martialStatus?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_spousesForename">Spouses Forename</label>
                    <input type="text" class="form-control" name="spousesForename" id="field_spousesForename"
                        [(ngModel)]="personalDetails.spousesForename" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_spousesSurname">Spouses Surname</label>
                    <input type="text" class="form-control" name="spousesSurname" id="field_spousesSurname"
                        [(ngModel)]="personalDetails.spousesSurname" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="personalDetails.person">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="PersonOption.id === personalDetails.person?.id ? personalDetails.person : PersonOption" *ngFor="let PersonOption of people; trackBy: trackPersonById">{{PersonOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
