<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personalDetails">
            <h2><span>Personal Details</span> {{personalDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Home Address</span></dt>
                <dd>
                    <span>{{personalDetails.homeAddress}}</span>
                </dd>
                <dt><span>Ppsn</span></dt>
                <dd>
                    <span>{{personalDetails.ppsn}}</span>
                </dd>
                <dt><span>Martial Status</span></dt>
                <dd>
                    <span>{{personalDetails.martialStatus}}</span>
                </dd>
                <dt><span>Spouses Forename</span></dt>
                <dd>
                    <span>{{personalDetails.spousesForename}}</span>
                </dd>
                <dt><span>Spouses Surname</span></dt>
                <dd>
                    <span>{{personalDetails.spousesSurname}}</span>
                </dd>
                <dt><span>Person</span></dt>
                <dd>
                    <div *ngIf="personalDetails.person">
                        <a [routerLink]="['/person', personalDetails.person?.id, 'view']">{{personalDetails.person?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personal-details', personalDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
