<div>
    <h2 id="page-heading">
        <span>Personal Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personal-details" [routerLink]="['/personal-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Personal Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="personalDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Home Address</span></th>
            <th><span>Ppsn</span></th>
            <th><span>Martial Status</span></th>
            <th><span>Spouses Forename</span></th>
            <th><span>Spouses Surname</span></th>
            <th><span>Person</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personalDetails of personalDetails ;trackBy: trackId">
                <td><a [routerLink]="['/personal-details', personalDetails.id, 'view' ]">{{personalDetails.id}}</a></td>
                <td>{{personalDetails.homeAddress}}</td>
                <td>{{personalDetails.ppsn}}</td>
                <td>{{personalDetails.martialStatus}}</td>
                <td>{{personalDetails.spousesForename}}</td>
                <td>{{personalDetails.spousesSurname}}</td>
                <td>
                    <div *ngIf="personalDetails.person">
                        <a [routerLink]="['../person', personalDetails.person?.id, 'view' ]" >{{personalDetails.person?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/personal-details', personalDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/personal-details', personalDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'personal-details/'+ personalDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
