<div>
    <h2 id="page-heading">
        <span>Companies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Company
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="companies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User Id</span></th>
            <th><span>Name</span></th>
            <th><span>Address 1</span></th>
            <th><span>Address 2</span></th>
            <th><span>Address 3</span></th>
            <th><span>Address 4</span></th>
            <th><span>Registered Vat Number</span></th>
            <th><span>Year End Day</span></th>
            <th><span>Year End Month</span></th>
            <th><span>Short Name</span></th>
            <th><span>Type</span></th>
            <th><span>Company Cro Details Id</span></th>
            <th><span>Secretary</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: trackId">
                <td><a [routerLink]="['/company', company.id, 'view' ]">{{company.id}}</a></td>
                <td>{{company.userId}}</td>
                <td>{{company.name}}</td>
                <td>{{company.address1}}</td>
                <td>{{company.address2}}</td>
                <td>{{company.address3}}</td>
                <td>{{company.address4}}</td>
                <td>{{company.registeredVatNumber}}</td>
                <td>{{company.yearEndDay}}</td>
                <td>{{company.yearEndMonth}}</td>
                <td>{{company.shortName}}</td>
                <td>{{company.type}}</td>
                <td>{{company.companyCroDetailsId}}</td>
                <td>
                    <div *ngIf="company.secretary">
                        <a [routerLink]="['../person', company.secretary?.id, 'view' ]" >{{company.secretary?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
