<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span>Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{company.userId}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{company.name}}</span>
                </dd>
                <dt><span>Address 1</span></dt>
                <dd>
                    <span>{{company.address1}}</span>
                </dd>
                <dt><span>Address 2</span></dt>
                <dd>
                    <span>{{company.address2}}</span>
                </dd>
                <dt><span>Address 3</span></dt>
                <dd>
                    <span>{{company.address3}}</span>
                </dd>
                <dt><span>Address 4</span></dt>
                <dd>
                    <span>{{company.address4}}</span>
                </dd>
                <dt><span>Registered Vat Number</span></dt>
                <dd>
                    <span>{{company.registeredVatNumber}}</span>
                </dd>
                <dt><span>Year End Day</span></dt>
                <dd>
                    <span>{{company.yearEndDay}}</span>
                </dd>
                <dt><span>Year End Month</span></dt>
                <dd>
                    <span>{{company.yearEndMonth}}</span>
                </dd>
                <dt><span>Short Name</span></dt>
                <dd>
                    <span>{{company.shortName}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{company.type}}</span>
                </dd>
                <dt><span>Company Cro Details Id</span></dt>
                <dd>
                    <span>{{company.companyCroDetailsId}}</span>
                </dd>
                <dt><span>Secretary</span></dt>
                <dd>
                    <div *ngIf="company.secretary">
                        <a [routerLink]="['/person', company.secretary?.id, 'view']">{{company.secretary?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
