<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-company-heading">Create or edit a Company</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!company.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="company.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="company.userId" required/>
                    <div [hidden]="!(editForm.controls.userId?.dirty && editForm.controls.userId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.userId?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.userId?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="company.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address1">Address 1</label>
                    <input type="text" class="form-control" name="address1" id="field_address1"
                        [(ngModel)]="company.address1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address2">Address 2</label>
                    <input type="text" class="form-control" name="address2" id="field_address2"
                        [(ngModel)]="company.address2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address3">Address 3</label>
                    <input type="text" class="form-control" name="address3" id="field_address3"
                        [(ngModel)]="company.address3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address4">Address 4</label>
                    <input type="text" class="form-control" name="address4" id="field_address4"
                        [(ngModel)]="company.address4" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_registeredVatNumber">Registered Vat Number</label>
                    <input type="text" class="form-control" name="registeredVatNumber" id="field_registeredVatNumber"
                        [(ngModel)]="company.registeredVatNumber" minlength="8" maxlength="9"/>
                    <div [hidden]="!(editForm.controls.registeredVatNumber?.dirty && editForm.controls.registeredVatNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.registeredVatNumber?.errors?.minlength">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.registeredVatNumber?.errors?.maxlength">
                        This field cannot be longer than 9 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yearEndDay">Year End Day</label>
                    <input type="number" class="form-control" name="yearEndDay" id="field_yearEndDay"
                        [(ngModel)]="company.yearEndDay" min="1" jhiMin="1" max="31" jhiMax="31"/>
                    <div [hidden]="!(editForm.controls.yearEndDay?.dirty && editForm.controls.yearEndDay?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yearEndDay?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yearEndDay?.errors?.max">
                            This field cannot be more than 31.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yearEndDay?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yearEndMonth">Year End Month</label>
                    <input type="number" class="form-control" name="yearEndMonth" id="field_yearEndMonth"
                        [(ngModel)]="company.yearEndMonth" min="1" jhiMin="1" max="12" jhiMax="12"/>
                    <div [hidden]="!(editForm.controls.yearEndMonth?.dirty && editForm.controls.yearEndMonth?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yearEndMonth?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yearEndMonth?.errors?.max">
                            This field cannot be more than 12.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yearEndMonth?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shortName">Short Name</label>
                    <input type="text" class="form-control" name="shortName" id="field_shortName"
                        [(ngModel)]="company.shortName" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.shortName?.dirty && editForm.controls.shortName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.shortName?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.shortName?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="company.type" id="field_type"  required>
                        <option value="UMBRELLA_LTD">UMBRELLA_LTD</option>
                        <option value="PRIVATE_LTD">PRIVATE_LTD</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyCroDetailsId">Company Cro Details Id</label>
                    <input type="number" class="form-control" name="companyCroDetailsId" id="field_companyCroDetailsId"
                        [(ngModel)]="company.companyCroDetailsId" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_secretary">Secretary</label>
                    <select class="form-control" id="field_secretary" name="secretary" [(ngModel)]="company.secretary" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id === company.secretary?.id ? company.secretary : personOption" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
