<div>
    <h2 id="page-heading">
        <span>Company Cro Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company-cro-details" [routerLink]="['/company-cro-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Company Cro Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="companyCroDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Company Name</span></th>
            <th><span>Company Number</span></th>
            <th><span>Company Status Code</span></th>
            <th><span>Company Status Desc</span></th>
            <th><span>Company Status Date</span></th>
            <th><span>Company Type Code</span></th>
            <th><span>Company Reg Date</span></th>
            <th><span>Comp Type Desc</span></th>
            <th><span>Place Of Business</span></th>
            <th><span>Eircode</span></th>
            <th><span>Company Addr 1</span></th>
            <th><span>Company Addr 2</span></th>
            <th><span>Company Addr 3</span></th>
            <th><span>Company Addr 4</span></th>
            <th><span>Last Ar Date</span></th>
            <th><span>Next Ar Date</span></th>
            <th><span>Last Acc Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let companyCroDetails of companyCroDetails ;trackBy: trackId">
                <td><a [routerLink]="['/company-cro-details', companyCroDetails.id, 'view' ]">{{companyCroDetails.id}}</a></td>
                <td>{{companyCroDetails.companyName}}</td>
                <td>{{companyCroDetails.companyNumber}}</td>
                <td>{{companyCroDetails.companyStatusCode}}</td>
                <td>{{companyCroDetails.companyStatusDesc}}</td>
                <td>{{companyCroDetails.companyStatusDate | date:'mediumDate'}}</td>
                <td>{{companyCroDetails.companyTypeCode}}</td>
                <td>{{companyCroDetails.companyRegDate | date:'mediumDate'}}</td>
                <td>{{companyCroDetails.compTypeDesc}}</td>
                <td>{{companyCroDetails.placeOfBusiness}}</td>
                <td>{{companyCroDetails.eircode}}</td>
                <td>{{companyCroDetails.companyAddr1}}</td>
                <td>{{companyCroDetails.companyAddr2}}</td>
                <td>{{companyCroDetails.companyAddr3}}</td>
                <td>{{companyCroDetails.companyAddr4}}</td>
                <td>{{companyCroDetails.lastArDate | date:'mediumDate'}}</td>
                <td>{{companyCroDetails.nextArDate | date:'mediumDate'}}</td>
                <td>{{companyCroDetails.lastAccDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/company-cro-details', companyCroDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company-cro-details', companyCroDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-cro-details/'+ companyCroDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
