<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="companyCroDetails">
            <h2><span>Company Cro Details</span> {{companyCroDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyName}}</span>
                </dd>
                <dt><span>Company Number</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyNumber}}</span>
                </dd>
                <dt><span>Company Status Code</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyStatusCode}}</span>
                </dd>
                <dt><span>Company Status Desc</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyStatusDesc}}</span>
                </dd>
                <dt><span>Company Status Date</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyStatusDate}}</span>
                </dd>
                <dt><span>Company Type Code</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyTypeCode}}</span>
                </dd>
                <dt><span>Company Reg Date</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyRegDate}}</span>
                </dd>
                <dt><span>Comp Type Desc</span></dt>
                <dd>
                    <span>{{companyCroDetails.compTypeDesc}}</span>
                </dd>
                <dt><span>Place Of Business</span></dt>
                <dd>
                    <span>{{companyCroDetails.placeOfBusiness}}</span>
                </dd>
                <dt><span>Eircode</span></dt>
                <dd>
                    <span>{{companyCroDetails.eircode}}</span>
                </dd>
                <dt><span>Company Addr 1</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyAddr1}}</span>
                </dd>
                <dt><span>Company Addr 2</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyAddr2}}</span>
                </dd>
                <dt><span>Company Addr 3</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyAddr3}}</span>
                </dd>
                <dt><span>Company Addr 4</span></dt>
                <dd>
                    <span>{{companyCroDetails.companyAddr4}}</span>
                </dd>
                <dt><span>Last Ar Date</span></dt>
                <dd>
                    <span>{{companyCroDetails.lastArDate}}</span>
                </dd>
                <dt><span>Next Ar Date</span></dt>
                <dd>
                    <span>{{companyCroDetails.nextArDate}}</span>
                </dd>
                <dt><span>Last Acc Date</span></dt>
                <dd>
                    <span>{{companyCroDetails.lastAccDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company-cro-details', companyCroDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
