<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-company-cro-details-heading">Create or edit a Company Cro Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!companyCroDetails.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="companyCroDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                        [(ngModel)]="companyCroDetails.companyName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyNumber">Company Number</label>
                    <input type="number" class="form-control" name="companyNumber" id="field_companyNumber"
                        [(ngModel)]="companyCroDetails.companyNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyStatusCode">Company Status Code</label>
                    <input type="number" class="form-control" name="companyStatusCode" id="field_companyStatusCode"
                        [(ngModel)]="companyCroDetails.companyStatusCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyStatusDesc">Company Status Desc</label>
                    <input type="text" class="form-control" name="companyStatusDesc" id="field_companyStatusDesc"
                        [(ngModel)]="companyCroDetails.companyStatusDesc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyStatusDate">Company Status Date</label>
                    <div class="input-group">
                        <input id="field_companyStatusDate" type="text" class="form-control" name="companyStatusDate" ngbDatepicker  #companyStatusDateDp="ngbDatepicker" [(ngModel)]="companyCroDetails.companyStatusDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="companyStatusDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyTypeCode">Company Type Code</label>
                    <input type="number" class="form-control" name="companyTypeCode" id="field_companyTypeCode"
                        [(ngModel)]="companyCroDetails.companyTypeCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyRegDate">Company Reg Date</label>
                    <div class="input-group">
                        <input id="field_companyRegDate" type="text" class="form-control" name="companyRegDate" ngbDatepicker  #companyRegDateDp="ngbDatepicker" [(ngModel)]="companyCroDetails.companyRegDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="companyRegDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_compTypeDesc">Comp Type Desc</label>
                    <input type="text" class="form-control" name="compTypeDesc" id="field_compTypeDesc"
                        [(ngModel)]="companyCroDetails.compTypeDesc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_placeOfBusiness">Place Of Business</label>
                    <input type="text" class="form-control" name="placeOfBusiness" id="field_placeOfBusiness"
                        [(ngModel)]="companyCroDetails.placeOfBusiness" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eircode">Eircode</label>
                    <input type="text" class="form-control" name="eircode" id="field_eircode"
                        [(ngModel)]="companyCroDetails.eircode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyAddr1">Company Addr 1</label>
                    <input type="text" class="form-control" name="companyAddr1" id="field_companyAddr1"
                        [(ngModel)]="companyCroDetails.companyAddr1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyAddr2">Company Addr 2</label>
                    <input type="text" class="form-control" name="companyAddr2" id="field_companyAddr2"
                        [(ngModel)]="companyCroDetails.companyAddr2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyAddr3">Company Addr 3</label>
                    <input type="text" class="form-control" name="companyAddr3" id="field_companyAddr3"
                        [(ngModel)]="companyCroDetails.companyAddr3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyAddr4">Company Addr 4</label>
                    <input type="text" class="form-control" name="companyAddr4" id="field_companyAddr4"
                        [(ngModel)]="companyCroDetails.companyAddr4" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastArDate">Last Ar Date</label>
                    <div class="input-group">
                        <input id="field_lastArDate" type="text" class="form-control" name="lastArDate" ngbDatepicker  #lastArDateDp="ngbDatepicker" [(ngModel)]="companyCroDetails.lastArDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastArDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nextArDate">Next Ar Date</label>
                    <div class="input-group">
                        <input id="field_nextArDate" type="text" class="form-control" name="nextArDate" ngbDatepicker  #nextArDateDp="ngbDatepicker" [(ngModel)]="companyCroDetails.nextArDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="nextArDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastAccDate">Last Acc Date</label>
                    <div class="input-group">
                        <input id="field_lastAccDate" type="text" class="form-control" name="lastAccDate" ngbDatepicker  #lastAccDateDp="ngbDatepicker" [(ngModel)]="companyCroDetails.lastAccDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastAccDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
