<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="companyShareholding">
            <h2><span>Company Shareholding</span> {{companyShareholding.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Percentage</span></dt>
                <dd>
                    <span>{{companyShareholding.percentage}}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="companyShareholding.company">
                        <a [routerLink]="['/company', companyShareholding.company?.id, 'view']">{{companyShareholding.company?.id}}</a>
                    </div>
                </dd>
                <dt><span>Director</span></dt>
                <dd>
                    <div *ngIf="companyShareholding.director">
                        <a [routerLink]="['/person', companyShareholding.director?.id, 'view']">{{companyShareholding.director?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company-shareholding', companyShareholding.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
