<div>
    <h2 id="page-heading">
        <span>Company Shareholdings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company-shareholding" [routerLink]="['/company-shareholding/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Company Shareholding
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="companyShareholdings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Percentage</span></th>
            <th><span>Company</span></th>
            <th><span>Director</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let companyShareholding of companyShareholdings ;trackBy: trackId">
                <td><a [routerLink]="['/company-shareholding', companyShareholding.id, 'view' ]">{{companyShareholding.id}}</a></td>
                <td>{{companyShareholding.percentage}}</td>
                <td>
                    <div *ngIf="companyShareholding.company">
                        <a [routerLink]="['../company', companyShareholding.company?.id, 'view' ]" >{{companyShareholding.company?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="companyShareholding.director">
                        <a [routerLink]="['../person', companyShareholding.director?.id, 'view' ]" >{{companyShareholding.director?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/company-shareholding', companyShareholding.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company-shareholding', companyShareholding.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-shareholding/'+ companyShareholding.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
